MandateMessage_Commons/src/main/resources/pain.010.001.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--BSVA Release V1.05 20160801-->

<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:pain.010.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:iso:std:iso:20022:tech:xsd:pain.010.001.03" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="AccountIdentification4Choice">
		<xs:choice>
			<xs:element name="IBAN" type="IBAN2007Identifier"/>
			<xs:element name="Othr" type="GenericAccountIdentification1"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="AccountSchemeName1Choice">
		<xs:choice>
			<xs:element name="Cd" type="ExternalAccountIdentification1Code"/>
			<xs:element name="Prtry" type="Max35Text"/>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="5"/>
			<xs:totalDigits value="18"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ActiveCurrencyAndAmount_SimpleType_1">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="5"/>
			<xs:totalDigits value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ActiveCurrencyAndAmount">
		<xs:simpleContent>
			<xs:extension base="ActiveCurrencyAndAmount_SimpleType">
				<xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ActiveCurrencyAndAmount_1">
		<xs:simpleContent>
			<xs:extension base="ActiveCurrencyAndAmount_SimpleType_1">
				<xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ActiveCurrencyCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{3,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="5"/>
			<xs:totalDigits value="18"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
		<xs:simpleContent>
			<xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
				<xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ActiveOrHistoricCurrencyCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{3,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AddressType2Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ADDR"/>
			<xs:enumeration value="PBOX"/>
			<xs:enumeration value="HOME"/>
			<xs:enumeration value="BIZZ"/>
			<xs:enumeration value="MLTO"/>
			<xs:enumeration value="DLVY"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AnyBICIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Authorisation1Choice">
		<xs:choice>
			<xs:element name="Cd" type="Authorisation1Code"/>
			<xs:element name="Prtry" type="Max128Text"/>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="Authorisation1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AUTH"/>
			<xs:enumeration value="FDET"/>
			<xs:enumeration value="FSUM"/>
			<xs:enumeration value="ILEV"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BICFIIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="BranchAndFinancialInstitutionIdentification5">
		<xs:sequence>
			<xs:element name="FinInstnId" type="FinancialInstitutionIdentification8"/>
			<xs:element name="BrnchId" type="BranchData2" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BranchData2">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Nm" type="Max140Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CashAccount24">
		<xs:sequence>
			<xs:element name="Id" type="AccountIdentification4Choice"/>
			<xs:element name="Tp" type="CashAccountType2Choice" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Ccy" type="ActiveOrHistoricCurrencyCode" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Nm" type="Max70Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CashAccountType2Choice">
		<xs:choice>
			<xs:element name="Cd" type="ExternalCashAccountType1Code"/>
			<xs:element name="Prtry" type="Max35Text"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ClearingSystemIdentification2Choice">
		<xs:choice>
			<xs:element name="Cd" type="ExternalClearingSystemIdentification1Code"/>
			<xs:element name="Prtry" type="Max35Text"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ClearingSystemMemberIdentification2">
		<xs:sequence>
			<xs:element name="ClrSysId" type="ClearingSystemIdentification2Choice" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MmbId" type="Max35Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContactDetails2">
		<xs:sequence>
			<xs:element name="NmPrfx" type="NamePrefix1Code" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Nm" type="Max140Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PhneNb" type="PhoneNumber" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MobNb" type="PhoneNumber" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FaxNb" type="PhoneNumber" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EmailAdr" type="Max2048Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Othr" type="Max35Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CountryCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DateAndPlaceOfBirth">
		<xs:sequence>
			<xs:element name="BirthDt" type="ISODate"/>
			<xs:element name="PrvcOfBirth" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CityOfBirth" type="Max35Text"/>
			<xs:element name="CtryOfBirth" type="CountryCode"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DatePeriodDetails1">
		<xs:sequence>
			<xs:element name="FrDt" type="ISODate"/>
			<xs:element name="ToDt" type="ISODate" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="MndtAmdmntReq" type="MandateAmendmentRequestV03"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="DocumentType5Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MSIN"/>
			<xs:enumeration value="CNFA"/>
			<xs:enumeration value="DNFA"/>
			<xs:enumeration value="CINV"/>
			<xs:enumeration value="CREN"/>
			<xs:enumeration value="DEBN"/>
			<xs:enumeration value="HIRI"/>
			<xs:enumeration value="SBIN"/>
			<xs:enumeration value="CMCN"/>
			<xs:enumeration value="SOAC"/>
			<xs:enumeration value="DISP"/>
			<xs:enumeration value="BOLD"/>
			<xs:enumeration value="VCHR"/>
			<xs:enumeration value="AROI"/>
			<xs:enumeration value="TSUT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalAccountIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalCashAccountType1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalClearingSystemIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalFinancialInstitutionIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalLocalInstrument1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalMandateReason1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalOrganisationIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalPersonIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalServiceLevel1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="FinancialIdentificationSchemeName1Choice">
		<xs:choice>
			<xs:element name="Cd" type="ExternalFinancialInstitutionIdentification1Code"/>
			<xs:element name="Prtry" type="Max35Text"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="FinancialInstitutionIdentification8">
		<xs:sequence>
			<xs:element name="BICFI" type="BICFIIdentifier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Nm" type="Max140Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Othr" type="GenericFinancialIdentification1" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Frequency6Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="YEAR"/>
			<xs:enumeration value="MNTH"/>
			<xs:enumeration value="QURT"/>
			<xs:enumeration value="MIAN"/>
			<xs:enumeration value="WEEK"/>
			<xs:enumeration value="DAIL"/>
			<xs:enumeration value="ADHO"/>
			<xs:enumeration value="INDA"/>
			<xs:enumeration value="FRTN"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="GenericAccountIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max34Text"/>
			<xs:element name="SchmeNm" type="AccountSchemeName1Choice" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericFinancialIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="SchmeNm" type="FinancialIdentificationSchemeName1Choice" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericOrganisationIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericPersonIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="SchmeNm" type="PersonIdentificationSchemeName1Choice" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GroupHeader47">
		<xs:sequence>
			<xs:element name="MsgId" type="Max35Text"/>
			<xs:element name="CreDtTm" type="ISODateTime"/>
			<xs:element name="Authstn" type="Authorisation1Choice" minOccurs="0" maxOccurs="2"/>
			<xs:element name="InitgPty" type="PartyIdentification43" minOccurs="0" maxOccurs="1"/>
			<xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification5" minOccurs="0" maxOccurs="1"/>
			<xs:element name="InstdAgt" type="BranchAndFinancialInstitutionIdentification5" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="IBAN2007Identifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:complexType name="LocalInstrument2Choice">
		<xs:choice>
			<xs:element name="Cd" type="ExternalLocalInstrument1Code"/>
			<xs:element name="Prtry" type="Max35Text"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Mandate1">
		<xs:sequence>
			<xs:element name="MndtId" type="Max35Text"/>
			<xs:element name="MndtReqId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Tp" type="MandateTypeInformation1" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Ocrncs" type="MandateOccurrences2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ColltnAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MaxAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CdtrSchmeId" type="PartyIdentification43" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Cdtr" type="PartyIdentification43"/>
			<xs:element name="CdtrAcct" type="CashAccount24" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification5" minOccurs="0" maxOccurs="1"/>
			<xs:element name="UltmtCdtr" type="PartyIdentification43" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Dbtr" type="PartyIdentification43"/>
			<xs:element name="DbtrAcct" type="CashAccount24" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification5"/>
			<xs:element name="UltmtDbtr" type="PartyIdentification43" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RfrdDoc" type="ReferredDocumentInformation3" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Mandate3">
		<xs:sequence>
			<xs:element name="MndtId" type="Max35Text"/>
			<xs:element name="MndtReqId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Tp" type="MandateTypeInformation1" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Ocrncs" type="MandateOccurrences2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ColltnAmt" type="ActiveCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MaxAmt" type="ActiveCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CdtrSchmeId" type="PartyIdentification43" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Cdtr" type="PartyIdentification43_1" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CdtrAcct" type="CashAccount24" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification5" minOccurs="0" maxOccurs="1"/>
			<xs:element name="UltmtCdtr" type="PartyIdentification43" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Dbtr" type="PartyIdentification43" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DbtrAcct" type="CashAccount24" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification5" minOccurs="0" maxOccurs="1"/>
			<xs:element name="UltmtDbtr" type="PartyIdentification43" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RfrdDoc" type="ReferredDocumentInformation3" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SplmtryData" type="SupplementaryData1" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MandateAmendment3">
		<xs:sequence>
			<xs:element name="OrgnlMsgInf" type="OriginalMessageInformation1" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AmdmntRsn" type="MandateAmendmentReason1"/>
			<xs:element name="Mndt" type="Mandate3"/>
			<xs:element name="OrgnlMndt" type="OriginalMandate2Choice"/>
			<xs:element name="SplmtryData" type="SupplementaryData1" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MandateAmendmentReason1">
		<xs:sequence>
			<xs:element name="Orgtr" type="PartyIdentification43" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Rsn" type="MandateReason1Choice"/>
			<xs:element name="AddtlInf" type="Max105Text" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MandateAmendmentRequestV03">
		<xs:sequence>
			<xs:element name="GrpHdr" type="GroupHeader47"/>
			<xs:element name="UndrlygAmdmntDtls" type="MandateAmendment3" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MandateOccurrences2">
		<xs:sequence>
			<xs:element name="SeqTp" type="SequenceType2Code"/>
			<xs:element name="Frqcy" type="Frequency6Code" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Drtn" type="DatePeriodDetails1" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FrstColltnDt" type="ISODate" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FnlColltnDt" type="ISODate" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MandateReason1Choice">
		<xs:choice>
			<xs:element name="Cd" type="ExternalMandateReason1Code"/>
			<xs:element name="Prtry" type="Max35Text"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="MandateTypeInformation1">
		<xs:sequence>
			<xs:element name="SvcLvl" type="ServiceLevel8Choice" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LclInstrm" type="LocalInstrument2Choice" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Max105Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="105"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max128Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max140Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="140"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max16Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max2048Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2048"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max34Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="34"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max350Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="350"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max35Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max70Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max2Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max9Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max1Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max20Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max22Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="22"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max11Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="11"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NamePrefix1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DOCT"/>
			<xs:enumeration value="MIST"/>
			<xs:enumeration value="MISS"/>
			<xs:enumeration value="MADM"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="OrganisationIdentification8">
		<xs:sequence>
			<xs:element name="AnyBIC" type="AnyBICIdentifier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Othr" type="GenericOrganisationIdentification1" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganisationIdentification8_1">
		<xs:sequence>
			<xs:element name="AnyBIC" type="AnyBICIdentifier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Othr" type="GenericOrganisationIdentification1" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganisationIdentificationSchemeName1Choice">
		<xs:choice>
			<xs:element name="Cd" type="ExternalOrganisationIdentification1Code"/>
			<xs:element name="Prtry" type="Max35Text"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="OriginalMandate2Choice">
		<xs:choice>
			<xs:element name="OrgnlMndtId" type="Max35Text"/>
			<xs:element name="OrgnlMndt" type="Mandate1"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="OriginalMessageInformation1">
		<xs:sequence>
			<xs:element name="MsgId" type="Max35Text"/>
			<xs:element name="MsgNmId" type="Max35Text"/>
			<xs:element name="CreDtTm" type="ISODateTime" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Party11Choice">
		<xs:choice>
			<xs:element name="OrgId" type="OrganisationIdentification8"/>
			<xs:element name="PrvtId" type="PersonIdentification5"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Party11Choice_1">
		<xs:choice>
			<xs:element name="OrgId" type="OrganisationIdentification8_1"/>
			<xs:element name="PrvtId" type="PersonIdentification5"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="PartyIdentification43">
		<xs:sequence>
			<xs:element name="Nm" type="Max140Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Id" type="Party11Choice" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CtryOfRes" type="CountryCode" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CtctDtls" type="ContactDetails2" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyIdentification43_1">
		<xs:sequence>
			<xs:element name="Nm" type="Max140Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Id" type="Party11Choice_1" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CtryOfRes" type="CountryCode" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CtctDtls" type="ContactDetails2" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonIdentification5">
		<xs:sequence>
			<xs:element name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Othr" type="GenericPersonIdentification1" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonIdentificationSchemeName1Choice">
		<xs:choice>
			<xs:element name="Cd" type="ExternalPersonIdentification1Code"/>
			<xs:element name="Prtry" type="Max35Text"/>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="PhoneNumber">
		<xs:restriction base="xs:string">
			<xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PostalAddress6">
		<xs:sequence>
			<xs:element name="AdrTp" type="AddressType2Code" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Dept" type="Max70Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SubDept" type="Max70Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="StrtNm" type="Max70Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="BldgNb" type="Max16Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PstCd" type="Max16Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TwnNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CtrySubDvsn" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Ctry" type="CountryCode" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AdrLine" type="Max70Text" minOccurs="0" maxOccurs="7"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReferredDocumentInformation3">
		<xs:sequence>
			<xs:element name="Tp" type="ReferredDocumentType2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Nb" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RltdDt" type="ISODate" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReferredDocumentType1Choice">
		<xs:choice>
			<xs:element name="Cd" type="DocumentType5Code"/>
			<xs:element name="Prtry" type="Max35Text"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ReferredDocumentType2">
		<xs:sequence>
			<xs:element name="CdOrPrtry" type="ReferredDocumentType1Choice"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="SequenceType2Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RCUR"/>
			<xs:enumeration value="OOFF"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ServiceLevel8Choice">
		<xs:choice>
			<xs:element name="Cd" type="ExternalServiceLevel1Code"/>
			<xs:element name="Prtry" type="Max35Text"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="SupplementaryData1">
		<xs:sequence>
			<xs:element name="PlcAndNm" type="Max350Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SupplementaryDataEnvelope1">
		<xs:sequence>
			<xs:element name="Cnts" type="Contents"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="RequestTransmissionNumber">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Contents">
		<xs:sequence>
			<xs:element name="AthntctnTp" type="Max9Text" minOccurs="1" maxOccurs="1"/>
			<xs:element name="RqstTrnsnbr" type="RequestTransmissionNumber" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CllctnDy" type="Max2Text" minOccurs="1" maxOccurs="1"/>
			<xs:element name="DtAdjRl" type="Max1Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AdjstCtgy" type="Max2Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AdjstRt" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AdjstAmt" type="ActiveCurrencyAndAmount_1" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Chnnl" type="Max20Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MndtRfNbr" type="Max22Text" minOccurs="1" maxOccurs="1"/>
			<xs:element name="FrstColltnAmt" type="ActiveCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DbVlTp" type="Max11Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
